{% extends "base2.html" %}

{% block lab %}
Мебель.Про
{% endblock %}

{% block script %}
{% endblock %}
    
{% block main %}
<style>
    .glavnaya{
        text-align: center;
    }
    .menu{
        border: 5px solid;
        text-align: center;
        padding: 10px;
    }

</style>
{% if login %}
    <div>Привет, {{ login }}!</div>
{% else %}
    <div>Вы еще не вошли в аккаунт!</div>
{% endif %}
<h1 class="glavnaya">Главная страница</h1>

<div class="menu">
    <a href="/lab10/katalog"><b>Каталог товаров</b></a> <br>
    {% if login %}
        <a href="/lab10/logout"><b>Выход</b></a><br>
    {% else %}
        <a href="/lab10/login"><b>Вход</b></a> <br>
        <a href="/lab10/register"><b>Регистрация</b></a> <br>
    {% endif %}
</div>
{% endblock %}