{% extends "base2.html" %}

{% block lab %}
Каталог
{% endblock %}

{% block main %}
<style>
    a{
        border: solid 2px green;
    }
    h1 {
        text-align: center;
    }
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .product {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
    }
    .product img {
        width: 100%;
        height: auto;
    }
    .product h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .product p {
        margin-bottom: 10px;
    }
    .product button {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 7px;
    }
    .product button:hover {
        background-color: #45a049;
    }
    .korzina{
        text-align: center;
    }
</style>

<h1>Каталог товаров</h1>
{% if not login %}
    <div class="korzina"><a href="/lab10/cart"><b>Перейти в 🛒</b></a></div>
{% else %}
    <div class="korzina">Вы еще не вошли в аккаунт!</div>
{% endif %}



<div class="product-grid">
    {% for product in products %}
        <div class="product">
            <h3>{{ product.title }}</h3>
            <p>{{ product.description }}</p>
            <p><strong>{{ product.price }} руб.</strong></p>
            <form method="POST" action="/lab10/add_to_cart">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="hidden" name="product_title" value="{{ product.title }}">
                <input type="hidden" name="product_price" value="{{ product.price }}">
                {% if not login %}
                    <button type="submit">Добавить в корзину</button>
                {% else %}
                    <div>❌</div>
                {% endif %}
                
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}