{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 3 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Результаты поиска</h1>
    {% if products %}
        <ol>
            {% for product in products %}
                <li>{{ product.name }} - {{ product.price }} руб. ({{ product.type }}, {{ product.color }})</li>
            {% endfor %}
        </ol>
    {% else %}
        В заданном диапазоне товаров нет.
    {% endif %}
{% endblock %}