{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 5 {% endblock %}

{# основной контент: #}
{% block main %}
    {% if error %}
        <div>{{ error }}</div>
    {% else %}
        <h1>Создание статьи</h1>
        
        <form method="post">
            <div>
                <label>
                    Название статьи:
                    <input type="text" maxlength="50" name="title">
                </label>
            </div>

            <div>
                <textarea name="article_text"></textarea>
            </div>

            <label>
                <input type="checkbox" name="is_favorite"> 
                Любимая статья<br>
            </label>
        
            <label>
                <input type="checkbox" name="is_public"> 
                Публичная статья<br>
            </label>

            <div>
                <button type="submit">Готово</button>
            </div>
        </form>
    {% endif %}
    
{% endblock %}  